#Don't track content of these folders
softmotion30_44k/
RobotPush/ExtractedData/
RobotPush/__pycache__/
RobotPush/logs/

#Dataset
*.tfrecords
*.png
*.gif
*.jpg
*.hdf5
*.h5
*.pyc
*.pth

#Archives
*.tar
